.profile-photo {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
    border: 2px solid #0077cc;
    cursor: pointer;
}
.profile-photo:hover {
    box-shadow: 0 0 15px rgba(100, 128, 255, 0.8);
}