.profile-photo {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
    border: 2px solid #0077cc;
    cursor: pointer;
}
.profile-photo:hover {
    box-shadow: 0 0 15px rgba(100, 128, 255, 0.8);
}
section {
    background: rgba(233, 236, 239, 0.04);
    padding: 20px;
    margin: 20px 0;
    border-radius: 12px;
    transition: 0.4s ease;
}
section:hover {
    background: rgba(255,255,255,0.08);
    transform: translateY(-4px);
}
.lings {
    padding: 4px 10px;
    border-radius: 8px;
}
.footer-right {
    text-align: right;
    margin-left: auto;
}
.midde{
    position: absolute;
    left: 50%;
    transform: translate(-50%)
}
.lings{
    text-align: left;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 25px;
    background: rgba(255, 255, 255, 0.05);
}
body {
    background: linear-gradient(135deg, #2b2d42, #3a3f58, #4e5973);
    color: #f4f4f4;
}
body {
    animation: fadeIn 1s ease forwards;
    opacity: 0;
}

@keyframes fadeIn {
    to { opacity: 1; }
}
.back-top {

    padding: 4px 10px;
    border-radius: 8px;
    color: white;

}
.back-top:hover {
    box-shadow: 0 0 15px rgb(16, 16, 16);
}

body {
    font-family: Arial, sans-serif;
    color: #e5e5e5;
    background-color: #1c1f26;
    line-height: 1.6;
    margin: 0;
}

p {
    font-size: 16px;
    color: #e5e5e5;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 6px;
}
p {
    opacity: 0;
    animation: fadeIn 1.3s ease forwards;
}
h2{
    color: #7aa6ff;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(8px); }
    to   { opacity: 1; transform: translateY(0); }
}
h1 {
    font-size: 32px;
    color: #7aa6ff;
    position: relative;
    display: inline-block;
}

h1::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #7aa6ff;
    transition: width 0.4s ease;
}

h1:hover::after {
    width: 100%;
}

section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #7aa6ff;
    transition: width 0.8s ease;
    border-radius: 2px;
}


section:hover::after {
    width: 100%;
}
















